<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="apirestservlet">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="modelo-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/Ejem05_modeloMaven/Ejem05_modeloMaven">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="apirestservlet"/>
        <property name="java-output-path" value="/apirestservlet/target/classes"/>
    </wb-module>
</project-modules>
